.nav {
    height: 4rem;
    
    &__logo {
        font-size: 2rem;
        width: 16rem;
        
        &::first-letter {
            text-decoration: underline;
        }
    }

    &__list {
        @extend %flex;
        justify-content: space-between;
        font-size: 1rem;
    }

    &__item {
        align-self: center;
        &::first-letter {
            text-decoration: underline;
        }
        &--menu {
            padding: 1.5rem;
            &:hover {
                background-color: #C0C0C0;
                & .menu {
                    display: inline;
                }
            }
        }
    }

    &__link {

    }

    &__footer {
        max-width: 14rem;

        & a:hover {
            text-decoration: underline;
        }
    }
}