.nav {
    height: 4rem;
    
    &__logo {
        font-size: 2rem;
        width: 16rem;
        
        &::first-letter {
            text-decoration: underline;
        }
    }

    &__list {
        @extend %flex;
        justify-content: space-between;
        font-size: 1rem;
    }

    &__item {
        padding: 1.5rem;
        align-self: center;

        &:hover {
            background-color: #C0C0C0;
        }

        &::first-letter {
            text-decoration: underline;
        }

        &--menu {
            &:hover {
                & .menu {
                    display: inline;
                }
            }
        }
    }
}