* {
    box-sizing: border-box;
}

body {
    // font-family: "Avenir Next", "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    // background-color: #C0C0C0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}