// ===============> Offset <=============================
$phone-offset: 1rem;
$tablet-offset: 1.5rem;
$tablet-landscape-offset: 11.25rem;
$desktop-offset: 11.25rem;
$big-desktop-offset: 11.25rem;


// ===============> Colours <============================
// Darkest colour: paragraph text, nav bg fill, primary CTA
$darkest: #323232;
// Lightest colour
$lightest: #FFFFFF;

// Text label
// Text field border, divider
// Text field background fill
// Primary CTA & text link
// Primary CTA hover
// Paragraph text, nav bg fill, primary CTA