.menu {
    padding: 1rem;
    display: none;
    position: fixed;
    top: 5rem;
    right: 10vw; // [Q] Ok for feed. Bad for edit page?
    // background-color: #C0C0C0;
    font-size: 1rem;
    
    &:hover {
        display: inline;
    }

    &__link-wrapper {
        @extend %flex;
        flex-direction: column;
    }

    &__item {
        &:hover {
            background-color: #e0e0e0;
        }

        &::first-letter {
            text-decoration: underline;
        }
    }

    &__link {
        padding: 0 45% 0 10%;
    }

    &__footer {
        max-width: 14rem;

        & a:hover {
            text-decoration: underline;
        }
    }
}