.mental-health {
    @extend %flex;
    flex-direction: column;
    align-items: center;
    
    &__info {
        font-size: 1rem;
    }

    &__title {
        margin-bottom: 0;
    }

    &__link {
        margin: 0;
        padding: 0;
    }

    &__disclaimer {
        font-size: 1.5rem;
    }

    &__section-title {
        margin-block-start: 1rem;
        margin-block-end: 0;
    }

    &__card-wrapper {
        @extend %flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__card {
        @extend %flex;
        // height: 20rem;
        width: 15rem;
        margin: 1rem;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__card-title {
        font-size: 1.5rem;
        white-space: pre-wrap;
    }
}