.post {
    margin-top: 1rem;
    font-size: 1rem;
    
    &__nav {
        @extend %flex;
    }

    &__avatar {
        width: 5rem;
        border: 3px ridge blue;
        &:hover {
            border-color: red;
        }
    }

    &__name-wrapper {
        @extend %flex;
        padding: 0 1rem;
        justify-content: space-between;
    }

    &__user-name {
        &--link {
            font-weight: bold;
            color: blue;
            text-decoration: underline;
            
            &:hover {
                color: red;
            }
        }
    }

    &__looking-for {

    }

    &__date {

    }

    &__content {
        @extend .post;
        white-space: pre-wrap;
    }
}