.add-edit {
    padding: 1.5rem 0;

    & input {
        height: 1.75rem;
    }
    
    & input, & textarea {
        width: 40vw;
    }

    & label, & input, & textarea {
        font-size: 1rem;
    }

    & article {
        width: 45vw;
        margin: 0 auto;
    }

    &__button-wrapper {
        @extend %flex;
        padding: 1rem;
        justify-content: center;
    }

    &__label input, &__label textarea  {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    &__speak-up {
        height: 40vh;
    }
}