.add-edit {
    padding: 1.5rem 0;

    & input {
        height: 1.75rem;
    }
    
    & input, & textarea {
        width: 40vw;
    }

    & label, & input, & textarea {
        font-size: 1rem;
    }

    & article {
        width: 45vw;
        margin: 0 auto;
    }

    &__button-wrapper {
        @extend %flex;
        padding: 1rem;
        justify-content: center;
    }

    &__label {
        &--horizontal {
            padding: 1rem 2rem 0 1rem;
        }

        &--post {
            padding-top: 1rem
        }
    }

    &__label input, &__label textarea  {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}

// Bit of a hack since .add-edit textarea has a weight of 11
textarea.add-edit__post-content {
    height: 6rem;
    width: 90%;
}