// ===============> Resources <==========================
@import './partials/_normalize';
@import './partials/_fonts';
@import './partials/_variables';
@import './partials/_mixins';


// ===============> Partials <===========================
@import '../../src/components/BSOD/BSOD';
@import '../../src/components/Button/Button';
@import '../../src/components/Feed/Feed';
@import '../../src/components/Login/Login';
@import '../../src/components/MentalHealth/MentalHealth';
@import '../../src/components/Menu/Menu';
@import '../../src/components/Modal/Modal';
@import '../../src/components/ModalMentalHealth/ModalMentalHealth';
@import '../../src/components/Nav/Nav';
@import '../../src/components/Post/Post';
@import '../../src/components/Settings/Settings';
@import '../../src/components/AddEdit/AddEdit';
@import '../../src/components/UserProfile/UserProfile';
@import '../../src/components/Visitor/Visitor';

// ===============> Main page styling <==================
article {
    border: none;
    box-shadow: inset -0.0625rem -0.0625rem #fff, inset 0.0625rem 0.0625rem #0a0a0a, inset -0.125rem -0.125rem grey, inset 0.125rem 0.125rem #dfdfdf;
}

.body {
    background-color: #008080;
}

.main {
    max-width: 80vw;
    margin: 1rem auto;
}