* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

li {
  list-style-type: none;
}

.mental-health, .mental-health__card-wrapper, .mental-health__card, .menu__link-wrapper, .nav__list, .post__heading, .post__name-wrapper, .add-edit__button-wrapper, .user-profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bsod {
  height: 100vh;
  width: 100vw;
  padding: 10% 30%;
  display: inline;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0012A3;
}

.bsod__title {
  height: 1.5rem;
  width: 15rem;
  margin: 0 auto;
  font-size: 1.25rem;
  background-color: lightgray;
  display: block;
  color: #0012A3;
  text-align: center;
}

.bsod__text, .bsod__item {
  font-size: 1rem;
}

.button::first-letter {
  text-decoration: underline;
}

.feed {
  padding: 1rem;
}

.mental-health {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mental-health__info {
  font-size: 1rem;
}

.mental-health__title {
  margin-bottom: 0;
}

.mental-health__link {
  margin: 0;
  padding: 0;
}

.mental-health__disclaimer {
  font-size: 1.5rem;
}

.mental-health__card-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mental-health__card {
  width: 15rem;
  margin: 1rem;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mental-health__card-title {
  font-size: 1.5rem;
  white-space: pre-wrap;
}

.menu {
  padding: 1rem;
  display: none;
  position: fixed;
  top: 5rem;
  right: 10vw;
  font-size: 1rem;
}

.menu__link-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__item:hover {
  background-color: #e0e0e0;
}

.menu__item::first-letter {
  text-decoration: underline;
}

.menu__link {
  padding: 0 45% 0 10%;
}

.menu__footer {
  max-width: 14rem;
}

.menu__footer a:hover {
  text-decoration: underline;
}

.nav {
  height: 4rem;
}

.nav__logo {
  font-size: 2rem;
  width: 16rem;
}

.nav__logo::first-letter {
  text-decoration: underline;
}

.nav__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
}

.nav__item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__item::first-letter {
  text-decoration: underline;
}

.nav__item--menu {
  padding: 1.5rem;
}

.nav__item--menu:hover {
  background-color: #C0C0C0;
}

.nav__item--menu:hover .menu {
  display: inline;
}

.post, .post__content {
  margin-top: 1rem;
  font-size: 1rem;
}

.post__avatar {
  width: 5rem;
  border: 3px ridge blue;
}

.post__avatar:hover {
  border-color: red;
}

.post__name-wrapper {
  padding: 0 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post__user-name--link {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}

.post__user-name--link:hover {
  color: red;
}

.post__content {
  white-space: pre-wrap;
}

.add-edit {
  padding: 1.5rem 0;
}

.add-edit input {
  height: 1.75rem;
}

.add-edit input, .add-edit textarea {
  width: 40vw;
}

.add-edit label, .add-edit input, .add-edit textarea {
  font-size: 1rem;
}

.add-edit article {
  width: 45vw;
  margin: 0 auto;
}

.add-edit__button-wrapper {
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-edit__label input, .add-edit__label textarea {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.add-edit__speak-up {
  height: 40vh;
}

.user-profile {
  padding: 1rem;
}

.user-profile__info-wrapper {
  margin-left: 20%;
}

.user-profile__info {
  font-size: 1rem;
}

.user-profile__avatar {
  width: 15rem;
  border: 3px ridge blue;
}

.user-profile__avatar:hover {
  border-color: red;
}

.user-profile__link {
  color: blue;
  text-decoration: underline;
  font-size: 1rem;
}

.user-profile__link:hover {
  color: red;
}

.visitor {
  padding: 1rem;
  white-space: pre-wrap;
}

.visitor__text {
  font-size: 1rem;
}

.visitor__link {
  color: blue;
  text-decoration: underline;
}

article {
  border: none;
  -webkit-box-shadow: inset -0.0625rem -0.0625rem #fff, inset 0.0625rem 0.0625rem #0a0a0a, inset -0.125rem -0.125rem grey, inset 0.125rem 0.125rem #dfdfdf;
          box-shadow: inset -0.0625rem -0.0625rem #fff, inset 0.0625rem 0.0625rem #0a0a0a, inset -0.125rem -0.125rem grey, inset 0.125rem 0.125rem #dfdfdf;
}

.body {
  background-color: #008080;
}

.main {
  max-width: 80vw;
  margin: 1rem auto;
}
/*# sourceMappingURL=App.css.map */